.bg-video {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bg-video video {
    height: 60vh;
    width: 100%;
    justify-content: center;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
.video-text {
    color: aquamarine;
    z-index: 2;
    width: auto;
    
}
